# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/